li
{
    padding: 0 10px;

    cursor: pointer;
    text-decoration: none;

    color: #35c8e6;
    background: transparent;
}

.tab
{
    padding: 0;

    border-bottom: 1px solid #eee;
    background-color: #fff;
}

.tab li
{
    line-height: 52px;

    display: inline-block;

    margin: 0 25px;

    color: #2e2e2e;
}

.tab .active
{
    color: #35c8e6;
    box-shadow: 0 -1px 0 #35c8e6 inset;
}
